* {
  margin: 0;
  padding: 0;
}

.head-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.list {
  margin-top: 4em;
}

.images {
  height: 3em;
  width: 3em;
}

.scrollBar {
  border: 2px solid black;
  overflow-y: scroll;
  height: 50vh;
}


.container {
  height: 100vh;
}
/* .side-nav,
.nav-menu {
  height: 100%;
}
.side-nav .nav-menu {
  list-style: none;
  padding: 40px 0;
  width: 200px;
  background-color: #3498db;
}
.side-nav .nav-item {
  position: relative;
  padding: 10px 20px;
}
.nav-item.active {
  background-color: #fff;
  box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}
.nav-item.active a {
  color: #2980b9;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
}
.menu-text {
  padding: 0 20px;
}
.side-nav .nav-item.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 150%;
  width: 20px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 20px 0 0 #fff;
}
.side-nav .nav-item.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 100%;
  right: 0;
  height: 150%;
  width: 20px;
  border-top-right-radius: 25px;
  box-shadow: 0 -20px 0 0 #fff;
} */



/* Cards CSS */
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 10rem; */
}

.cards div{
  margin:0 0.5em;
}

.top5{
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.main2{
  padding: 4em  0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .navbar{
  background-color: black;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  list-style: none;
}
.navbar li a{
  text-decoration: none;
} */